{% extends "dashboard/dashboard_base.html" %}
{% load django_tables2 %}
{% load static %}
{% block child %}
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="row">
                <div class="col-md-12">

                    <div class="card mb-3" id="newReadingCard">
                      <div class="card-header text-white bg-gray-500">Tiempo Real</div>
                      <div class="card-body p-3 d-flex align-items-center">
                        <div>
                            <div class="text-value "><strong> Items:</strong> <h3><span id="item-count"></span></h3></div>
                            <div class="text-value "><strong> Nodo: </strong><span id="node-name"> NODE-BODEGA-134</span></div>
                            <div class="text-value "><strong> Dispositivo: </strong><span id="reader-name">ZEBRA - FX9600</span></div>
                            <div class="text-value "><strong> Tiemestamp: </strong><span id="timestamp"> - </span></div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
            <!-- /.row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                        {% render_table table %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row-->
        </div>
  </div>
</main>
{% endblock %}

{% block extra_js%}
<script defer src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/7.9.1/firebase-auth.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/7.9.1/firebase-database.js"></script>

<script defer src="{% static 'assets/js/realtime-readings.js' %}"></script>
{% endblock%}