{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block child %}
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-accent-info">
                    <div class="card-header">
                        <span class="h2">Inventario <i class="fa fa-line-chart" aria-hidden="true"></i></span>
                        <a class="btn btn-outline-info float-right" href="{% url 'logistics-sku-inventory' %}" role="button">Ver</a>
                    </div>
                    <div class="card-body">Texto por definir</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-accent-info">
                    <div class="card-header">
                        <span class="h2">Entradas <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></span>
                        <a class="btn btn-outline-info float-right" href="{% url 'logistics-warehouse-entry-list' %}" role="button">Ver</a>
                    </div>
                    <div class="card-body">Texto por definir</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-accent-info">
                    <div class="card-header">
                        <span class="h2">Salidas <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>
                        <a class="btn btn-outline-info float-right" href="{% url 'logistics-transfer-order-list' %}" role="button">Ver</a>
                    </div>
                    <div class="card-body">Texto por definir,</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-accent-info">
                    <div class="card-header">
                        <span class="h2">Ubicaciones <i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <a class="btn btn-outline-info float-right" href="#" role="button">Ver</a>
                    </div>
                    <div class="card-body">Texto por definir </div>
                    </div>
                </div>
            </div>
            <!-- /.row-->
        </div>
  </div>
</main>
{% endblock %}
