{% extends "dashboard/dashboard_base.html" %}
{% load django_tables2 %}
{% load static %}
{% block child %}
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">

            <div class="row ow-eq-height">
                <div class="col-md-8">
                    <div class="card card-accent-info">
                        <div class="card-header h3"><strong>Pedido:  {{order_object.pk}}</strong></div>
                        <div class="card-body">
                            <div>
                                <strong> Destino </strong> : {{order_object.destination }}
                            </div>
                            <div>
                                <strong> Fecha esperada de entrega </strong> : {{ order_object.expected_completion_date }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 h-100">
                    <div class="card h-100 card-accent-info">
                        <div class="card-body">
                            <div class="text-value-lg"><h2>{{enlisted_items_per}} %</h2></div><small class="text-muted text-uppercase font-weight-bold"> Items alistados ({{enlisted_items_count}})</small>
                            <div class="progress progress-xs mt-3 mb-0">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: {{enlisted_items_per}}%" aria-valuenow="{{enlisted_items_per}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-accent-info">
                        <div class="card-header h4 mb-0">
                        Items ({{items_count}})
                        </div>
                        <div class="card-body p-0">
                        {% render_table table %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row-->
        </div>
  </div>
</main>
{% endblock %}
