{% extends "dashboard/dashboard_base.html" %}
{% load django_tables2 %}
{% load static %}
{% block child %}
{% load widget_tweaks %}
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="row">
                <div class="col-9 col-lg-10"></div>
                <div class="col-3 col-lg-2">
                    <div class="form-group mx-4 d-inline-block">
                        <input id="create" class="btn btn-info" type="button"
                               data-bs-toggle="modal" data-bs-target="#create_transfer_order"
                               data-popup-url='{% url "logistics:inventory-create_transfer_order" %}'
                               value="Crear Orden"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4">
                    <div class="card overflow-hidden">
                        <div class="card-body p-0 d-flex align-items-center">
                            <div class="bg-gradient-dark p-4 mfe-3">
                                <svg class="c-icon c-icon-xl">
                                <use xlink:href="{% static 'vendor/core-ui/icons/sprites/free.svg' %}#cil-qr-code"></use>
                                </svg>
                            </div>
                            <div>
                                <div class="text-value text-info">{{total_orders}}</div>
                                <div class="text-muted text-uppercase font-weight-bold small">Total salidas</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-->
                <div class="col-6 col-lg-4">
                    <div class="card overflow-hidden">
                        <div class="card-body p-0 d-flex align-items-center">
                            <div class="bg-gradient-success p-4 mfe-3">
                                <svg class="c-icon c-icon-xl">
                                <use xlink:href="{% static 'vendor/core-ui/icons/sprites/free.svg' %}#cil-house"></use>
                                </svg>
                            </div>
                            <div>
                                <div class="text-value text-info">{{total_completed_orders}}</div>
                                <div class="text-muted text-uppercase font-weight-bold small">Salidas completadas</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-->
                <div class="col-6 col-lg-4">
                    <div class="card overflow-hidden">
                        <div class="card-body p-0 d-flex align-items-center">
                            <div class="bg-gradient-warning p-4 mfe-3">
                                <svg class="c-icon c-icon-xl">
                                <use xlink:href="{% static 'vendor/core-ui/icons/sprites/free.svg' %}#cil-av-timer"></use>
                                </svg>
                            </div>
                            <div>
                                <div class="text-value text-info">{{total_inprogress_orders}}</div>
                                <div class="text-muted text-uppercase font-weight-bold small">Salidas en alistamiento</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-->
            </div>

            <!-- /.row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        {% if filter  %}
                        <div class="card-body">
                            <form action="" method="get" class="form form-inline">
                                <div class="col-12">
                                    <div class="form-group mx-4 mb-2 d-inline-block">
                                        <label for="id_completion_date_min" class="mr-2">Desde</label>
                                        <input type="date" name="completion_date_min"  id="id_completion_date_min" class="form-control">
                                    </div>

                                    <div class="form-group mx-4 mb-2 d-inline-block">
                                        <label for="id_completion_date_max" class="mr-2">Hasta</label>
                                        <input type="date" name="completion_date_max"  id="id_completion_date_max" class="form-control">
                                    </div>

                                    <div class="form-group mx-4 d-inline-block">
                                        <label for="id_destination" class="mr-2">Bodega Destino</label>
                                         {{ filter.form.destination|add_class:"form-control info" }}
                                    </div>
                                    <div class="form-group mx-4 d-inline-block">
                                        <input class="btn btn-info" type="submit" value="Filtrar"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                        <div class="card-body p-0">
                            {% render_table table %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row-->
        </div>
  </div>
</main>
{% endblock %}
{% block load_after %}
<script>
  $(document).ready(function(){
    $(document).on("click", "#create", function (e) {
        e.preventDefault();
        var $popup = $("#create_transfer_order");
        var popup_url = $(this).data("popup-url");
        $(".modal-body", $popup).load(popup_url, function () {
          $popup.modal({show: true})
        });
    });
  })
</script>
{% include "dashboard/logistics/transfers/modals/transfer_order.html" %}
{% endblock %}
