{% load static %}
{% load widget_tweaks %}
<div id="create_transfer_order" class="modal" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Crear Orden de transferencia</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="POST">
            <div class="modal-body">
                {% csrf_token %}
                {{ form.non_field_erros }}
                <div class="form-group">
                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                        <ul class="form-errors">
                            {% for error in field.errors %}
                            <li><span class="fa fa-exclamation-triangle"></span><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}<div class="form-helptext">{{ field.helptext }}</div>{% endif %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </form>
    </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Crear" style="margin-bottom: 5px"/>
        </div>
    </div>
  </div>
</div>