{% extends "dashboard/dashboard_base.html" %}
{% load django_tables2 %}
{% load static %}
{% block child %}
{% load widget_tweaks %}
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-dark text-white font-weight-bold"> Ejecutar Inventario</div>
                        <div class="card-body">
                            <form action="" method="get">
                                <div class="w-100">
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form.wait_minutes.errors }}
                                            <label>{{ form.wait_minutes.label_tag }}
                                            </label>
                                            {{ form.wait_minutes | add_class:"form-control" }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.init_location.errors }}
                                            <label>{{ form.init_location.label_tag }}
                                            </label>
                                            {{ form.init_location | add_class:"form-control" }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.end_location.errors }}
                                            <label>{{ form.end_location.label_tag }}
                                            </label>
                                            {{ form.end_location | add_class:"form-control" }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.all_locations.errors }}
                                            <label>{{ form.all_locations.label_tag }}
                                            </label>
                                            {{ form.all_locations | add_class:"form-control" }}
                                        </div>
                                    </div>
                                    <div class="text-center mt-3"><input type="submit" class="btn btn-success" value="Ejecutar"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body p-0">
                        {% render_table table %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row-->
        </div>
  </div>
</main>
{% endblock %}
