{% extends "dashboard/dashboard_base.html" %}
{% load django_tables2 %}
{% load static %}
{% block child %}
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="card overflow-hidden">
                        <div class="card-body p-0 d-flex align-items-center">
                            <div class="bg-gradient-dark p-4 mfe-3">
                                <svg class="c-icon c-icon-xl">
                                <use xlink:href="{% static 'vendor/core-ui/icons/sprites/free.svg' %}#cil-qr-code"></use>
                                </svg>
                            </div>
                            <div>
                                <div class="text-value text-info">{{total_items}}</div>
                                <div class="text-muted text-uppercase font-weight-bold small">Total unidades</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-->
                <div class="col-sm-6 col-lg-4">
                    <div class="card overflow-hidden">
                        <div class="card-body p-0 d-flex align-items-center">
                            <div class="bg-gradient-dark p-4 mfe-3">
                                <svg class="c-icon c-icon-xl">
                                <use xlink:href="{% static 'vendor/core-ui/icons/sprites/free.svg' %}#cil-house"></use>
                                </svg>
                            </div>
                            <div>
                                <div class="text-value text-info">{{total_locations}}</div>
                                <div class="text-muted text-uppercase font-weight-bold small">Ubicaciones</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-->
                <div class="col-sm-6 col-lg-4">
                    <div class="card overflow-hidden">
                        <div class="card-body p-0 d-flex align-items-center">
                            <div class="bg-gradient-dark p-4 mfe-3">
                                <svg class="c-icon c-icon-xl">
                                <use xlink:href="{% static 'vendor/core-ui/icons/sprites/free.svg' %}#cil-folder"></use>
                                </svg>
                            </div>
                            <div>
                                <div class="text-value text-info">{{total_referencias}}</div>
                                <div class="text-muted text-uppercase font-weight-bold small">Total referencias</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-->
            </div>
            <!-- /.row-->

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body p-0">
                        {% render_table table %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row-->
        </div>
  </div>
</main>
{% endblock %}
