{% extends "dashboard/dashboard_base.html" %}
{% load django_tables2 %}
{% load static %}
{% block child %}
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="card card-accent-info">
                        <div class="card-header h3">{{sku_object.display_name}}</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <img src="{{ sku_object.reference_image.url }}" class="img-fluid"/>

                                </div>
                                <div class="col-8">
                                    <table class="table table-responsive-sm table-bordered">
                                    {% for key, values in sku_object.data.items %}
                                        <tr>
                                            <td>{{key}}</td>
                                            <td>{{values}}</td>
                                        </tr>
                                    {% endfor %}
                                    {%if sku_object.datasheet %}
                                        <tr>
                                            <td>datasheet</td>
                                            <td><a class="btn btn-outline-success" href="{{ sku_object.datasheet.url }}"
                                                role="button" target="_blank">Descargar</a></td>
                                        </tr>
                                    {% endif%}
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card card-accent-info">
                        <div class="card-header h3">Existencias  ({{ locations_inventory_list|length }})</div>
                        <div class="card-body p-0 pt-1">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 pt-0">Nombre</th>
                                        <th class="border-0 pt-0">Cantidad</th>
                                    </tr>
                                </thead>
                            {%for row in locations_inventory_list %}
                                <tbody>
                                    <tr>
                                        <td>{{row.last_seen_location.name}}</td>
                                        <td>{{row.count}}</td>
                                        <td><a href="?last_seen_location={{row.last_seen_location.id}}"> ver </a></td>
                                    </tr>
                                </tbody>
                            {%endfor%}
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                {% if filter and filter.data %}
                    <div class="col-md-12">
                        <div class="card card-accent-info">
                            <div class="card-header h3 mb-0">Unidades ({{ table.data | length }})</div>
                            <div class="card-body">

                                <form action="" method="get" class="form form-inline">
                                    <div class="form-group mx-4">
                                        <label for="id_last_seen_min" class="mr-2">Desde</label>
                                        <input type="date" name="last_seen_min"  id="id_last_seen_min" class="form-control">
                                    </div>
                                    <div class="form-group mx-4">
                                        <label for="id_last_seen_max" class="mr-2">Hasta</label>
                                        <input type="date" name="last_seen_max"  id="id_last_seen_max" class="form-control">
                                    </div>
                                    {%if location_id%}
                                    <div class="form-group mx-4">
                                        <label for="id_last_seen_location" class="mr-2">Location</label>
                                        <input type="hidden" name="last_seen_location" value="{{location_id}}" id="id_last_seen_location" class="form-control">
                                    </div>
                                    {%endif%}

                                   <input class="btn btn-info" type="submit" value="Filtrar"/>
                                </form>
                            </div>
                            <div class="card-body p-0">
                            {% render_table table %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!-- /.row-->
        </div>
  </div>
</main>
{% endblock %}
