{% extends "dashboard/dashboard_base.html" %}
{% load django_tables2 %}
{% load static %}
{% block child %}
<main class="main pt-2">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <div class="card card-accent-info">
                        <div class="card-header h3">{{object.display_name}}</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <img src="{{ object.reference_image.url }}" class="img-fluid"/>

                                </div>
                                <div class="col-8">
                                    <table class="table table-responsive-sm table-bordered">
                                    {% for key, values in object.data.items %}
                                        <tr>
                                            <td>{{key}}</td>
                                            <td>{{values}}</td>
                                        </tr>
                                    {% endfor %}
                                    {%if sku_object.datasheet %}
                                        <tr>
                                            <td>datasheet</td>
                                            <td><a class="btn btn-outline-success" href="{{ object.datasheet.url }}"
                                                role="button" target="_blank">Descargar</a></td>
                                        </tr>
                                    {% endif%}
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <!---<div class="card card-accent-info">
                        <div class="card-header h3">Existencias</div>
                        <div class="card-body p-0 pt-1">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 pt-0">Nombre</th>
                                        <th class="border-0 pt-0">Cantidad</th>
                                    </tr>
                                </thead>
                            {%for row in locations_inventory_list %}
                                <tbody>
                                    <tr>
                                        <td>{{row.current_location__name}}</td>
                                        <td>{{row.total}}</td>
                                        <td><a href="?current_location={{row.current_location_id}}"> ver </a></td>
                                    </tr>
                                </tbody>
                            {%endfor%}
                            </table>
                        </div>
                    </div>--->
                </div>
            </div>


            <div class="row">
                    <div class="col-md-12">
                        <div class="card card-accent-info">
                            <div class="card-header h3 mb-0">Unidades ({{ table.data | length }})</div>
                            <div class="card-body p-0">
                            {% render_table table %}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
  </div>
</main>
{% endblock %}
