{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Microlink IoT</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      // Shared ID
      gtag('config', 'UA-118965717-3');
      // Bootstrap ID
      gtag('config', 'UA-118965717-5');
    </script>
    <link href="{% static 'vendor/core-ui/css/coreui.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'vendor/core-ui/css/free.min.css'%}">
    <link rel="stylesheet" href="{% static 'vendor/core-ui/css/flag.min.css'%}">
    <link rel="stylesheet" href="{% static 'vendor/core-ui/css/brand.min.css'%}">

  </head>
  <body class="c-app">
    {% block content %}{% endblock %}
  </body>
  <!-- CoreUI and necessary plugins-->
  <script src="{% static 'vendor/core-ui/js/coreui.bundle.js' %}"></script>
  <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
  <!-- Plugins and scripts required by this view-->
  <script src="{% static '/js/main.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  {% block load_after %}{% endblock %}
</html>