{% extends "dashboard/dashboard_base.html" %}
{% load django_tables2 %}
{% load static %}
{% block child %}
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div style="width: 700px" class="d-inline-block mr-4">
                <div class="card card-accent-info">
                    <div class="card-header h4 mb-0">Tracking bodega</div>
                    <div class="card-body" >
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="true">Plano</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false">Panorámica</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div id="canvas-container-floor">
                                   <canvas id="canvas-floor" height="500px" width="650px"></canvas>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div id="canvas-container">
                                   <canvas id="canvas" height="500px" width="650px"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div style="width: calc(100% - 750px)" class="d-inline-block">
                <div class="card card-accent-info">
                    <div class="card-header  h4 mb-0">Resumen</div>
                    <div class="card-body p-0" >
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="border-0 pt-0">Posición</th>
                                    <th class="border-0 pt-0">Cantidad</th>
                                </tr>
                            </thead>
                        {%for row in reading_summary_snapshot %}
                            <tbody id="readings-table" class="font-sm">
                                <tr>
                                    <td>{{row.antenna__name}}</td>
                                    <td id="totalId{{row.antenna}}">{{row.total}}</td>
                                </tr>
                            </tbody>
                        {%endfor%}
                        </table>
                    </div>
                    <div class="card-header h4 mb-0 border-top">No Encontrados</div> <!-- No Encontrados -->
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="border-0 pt-0">Serial</th>
                                    <th class="border-0 pt-0">Posición</th>
                                </tr>
                            </thead>
                            <tbody id="missingItemsTable" class="font-sm">
                                <!--- Items injected by jquery -->
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
  </div>
</main>
{% endblock %}
{% block load_after %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.2/fabric.js"></script>
<script>

let canvas = new fabric.Canvas('canvas');
let canvasFloor = new fabric.Canvas('canvas-floor');

fabric.Image.fromURL('{% static "assets/img/backgrounds/bg_floor.png" %}', function(img){
   img.scaleToWidth(canvasFloor.width);
   img.scaleToHeight(canvasFloor.height);
   canvasFloor.setBackgroundImage(img);
   canvasFloor.requestRenderAll();
});

fabric.Image.fromURL('{% static "assets/img/backgrounds/bodega1.jpeg" %}', function(img){
   img.scaleToWidth(canvas.width);
   img.scaleToHeight(canvas.height);
   canvas.setBackgroundImage(img);
   canvas.requestRenderAll();
});

function paintInitialPolygons(){
  polys = {
      zones : [
          {
              name:1,
              points:[{x: 600, y: 130},{x: 600, y: 560},{x: 275, y: 430},{x: 275, y: 190}]
          },
          {
              name:3,
              points:[{x: 150, y: 210},{x: 148, y: 375},{x: 275, y: 428},{x: 275, y: 188}]
          },
      ]
  }


  polyColors =["rgba(21,232,91,0.1)","rgba(255,0,10,0.1)"];
  polyStrokeColors =["rgba(21,232,91,1)","rgb(255,7,7)"]

  texts = ["0 tags", "0 tags"]
  texts_loc = [{x: 415, y: 300},{x: 210, y: 290}];


  for (let i = 0; polys.zones.length > i; i++){

    window["polygon_" + polys.zones[i].name] = new fabric.Polygon(polys.zones[i].points, { //creates the actual polygon
      fill: polyColors[i],
      PolygonNumber: i,
      name: "Polygon",
      selectable: false,
      objectCaching: false,
      stroke: polyStrokeColors[i],
    });
    window["zoneRFID" + polys.zones[i].name] = new fabric.Text(texts[i], {
        fontFamily: 'Arial',
        fontSize: 30,
        textAlign: 'center',
        originX: 'center',
        originY: 'center',
        stroke: 'black',
        left: texts_loc[i].x,
        top: texts_loc[i].y,
        fill:'white'
    });

    window["group" + i] = new fabric.Group([window["polygon_" + polys.zones[i].name], window["zoneRFID" + polys.zones[i].name] ],{
       selectable: false,
    });
    canvas.add(window["group" + i]);
    canvas.renderAll();


  }

  polys_floor = {
      zones : [
          {
              name:1,
              points:[{x: 240, y: 290},{x: 335, y: 290},{x: 340, y: 150},{x: 235, y: 150}]
          },
          {
              name:3,
              points:[{x: 125, y: 290},{x: 222, y: 290},{x: 227, y: 150},{x: 120, y: 150}]
          },
      ]
  };
  texts_floor_loc = [{x: 289, y: 250},{x: 174, y: 250}];

  for (var i = 0; polys_floor.zones.length > i; i++){

    window["polygonFloor" + polys_floor.zones[i].name] = new fabric.Polygon(polys_floor.zones[i].points, { //creates the actual polygon
      fill: polyColors[i],
      PolygonNumber: i,
      name: "Polygon",
      selectable: false,
      objectCaching: false,
      stroke: polyStrokeColors[i],
    });
    window["zoneRFIDFloor" + polys_floor.zones[i].name ] = new fabric.Text(texts[i], {
        fontFamily: 'Arial',
        fontSize: 30,
        textAlign: 'center',
        originX: 'center',
        originY: 'center',
        stroke: 'blue',
        left: texts_floor_loc[i].x,
        top: texts_floor_loc[i].y,
        fill:'black'
    });

    window["groupFloor" + i] = new fabric.Group(
        [window["polygonFloor"+ polys_floor.zones[i].name],
         window["zoneRFIDFloor" + polys_floor.zones[i].name]],{
       selectable: false,
    });
    canvasFloor.add(window["groupFloor" + i]);
    canvasFloor.renderAll();
    }

}

function updatePolygon(antenna, total){
    console.log(antenna, total)
    document.getElementById('totalId'+(antenna)).innerHTML = total
    window["zoneRFID" + (antenna)].set('text',(total+ " tags"));
    window["zoneRFIDFloor" + (antenna)].set('text',(total+ " tags"));
    canvasFloor.requestRenderAll();
    canvas.requestRenderAll();
}

function fetchAndUpdateData(){

    $.getJSON( '{% url "rest_api:reading-zones-snapshot" %}', function( data ) {
      var items = data.data;
      $.each( items, function( index, val ) {
          $("#totalId"+(val.antenna)).html(val.total);
          updatePolygon(val.antenna, val.total)
      });
    });

     $.getJSON( '{% url "rest_api:reading-missing-items" %}', function( data ) {
      var items = data.data;
      $('#missingItemsTable').empty();
      $.each( items, function( index, val ) {
           $('#missingItemsTable').append(
               '<tr>' +
                '<td>'+ val.sku+ '<br/>' + val.serial + '</td> ' +
                '<td>'+ val.antenna_name +'</td>' +
               '</tr>'
           );
      });
    });
}

setTimeout(paintInitialPolygons,1000)

setInterval(fetchAndUpdateData,1100)
</script>
{% endblock %}